<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nexus Designs</title>
  <link rel="icon" href="img/nexus-designs-favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/loader.css">
</head>
<body>
  
  <img src="img/nexus-designs-logo-main.png" style="display:none;">

  <div class="loaderDiv">
    <img src="img/loading-image.png" class="loader">
  </div>
  

  <div class="grid">
  <header>
    {{>nav}}
  </header>

  <!-- main start -->
    <div class="hero-div">
      <img class="hero" src="img/hero-main.png">
      <img class="hero-mobile" src="img/hero-main-mobile.png">
    </div>

    <div class="centeredTitle">
      <h1>What we do</h1>
    </div>

    <div id="tri-column-div">
    
      <div class="tri-column">
        <img class="tri-column-picture" src="img/design-icon.png">
        <h1 class="tri-column-h1">Design</h1>
        <p class="tri-column-p">Bring your vision to life in the best way possible. Not all developers understand how crucial design can be. We go above and beyond when it comes to  representing you and your business.</p>
      </div>
      <div class="tri-column">
        <img class="tri-column-picture" src="img/develop-icon.png">
        <h1 class="tri-column-h1">Develop</h1>
        <p class="tri-column-p">Staying at the forefront of development technologies and best practices helps ensure project success. Reliable functionality and 
up to date code will power your ideas both big and small.</p>
      </div>
      <div class="tri-column">
        <img class="tri-column-picture" src="img/deploy-icon.png">
        <h1 class="tri-column-h1">Deploy</h1>
        <p class="tri-column-p">Deployment can be a big undertaking, so we do all the heavy lifting for you. When your project is ready to launch, we test on live servers and use modern services to give end users a seamless and superior experience.</p>
      </div>

    </div>

    <div class="centeredTitle">
      <h1>A step in the right direction</h1> 
      <p>Innovation is important. To help your vision become a reality, we fine-tune our entire production process so that your project gets done faster, without compromising quality.
      From the moment we meet, to delivering a top-quality end product, Nexus Designs will ensure your satisfaction as not just a customer, but also as a friend.</p>
    </div>

    <div class="step-graph">
      <img class="step-graph-image" src="img/step-graph.png">

      

    </div>

    <div id="single-column-div">
    
      <div class="single-column">
        <h1 class="single-column-h1">Steps to success</h1>
        <img class="single-column-picture" src="img/meeting-icon.png">
        <h1 class="single-column-h1">1. Meeting</h1>
        <img class="single-column-picture" src="img/requirements-icon.png">
        <h1 class="single-column-h1">2. Requirements</h1>
        <img class="single-column-picture" src="img/design-icon-2.png">
        <h1 class="single-column-h1">3. Design</h1>
      <img class="single-column-picture" src="img/develop-icon-2.png">
        <h1 class="single-column-h1">4. Develop</h1>
      <img class="single-column-picture" src="img/deploy-icon-2.png">
        <h1 class="single-column-h1">5. Deploy</h1>
      </div>

    </div>

    <div class="centeredTitle">
      <h1>Technologies we use</h1> 
      
    </div>

    <div id="technologies-div">
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/html.png">
        <h1 class="technologies-inner-h1">HTML</h1>
      </div>
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/css.png">
        <h1 class="technologies-inner-h1">CSS</h1>
      </div>
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/js.png">
        <h1 class="technologies-inner-h1">JavaScript</h1>
      </div>
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/node.png">
        <h1 class="technologies-inner-h1">Node.js</h1>
      </div>
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/mongodb.png">
        <h1 class="technologies-inner-h1">MongoDB</h1>
      </div>
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/handlebars.png">
        <h1 class="technologies-inner-h1">Handlebars</h1>
      </div>
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/git.png">
        <h1 class="technologies-inner-h1">Git</h1>
      </div>
      <div class="technologies-inner-div">
        <img class="technologies-inner-picture" src="img/responsive.png">
        <h1 class="technologies-inner-h1">Responsive design</h1>
      </div>
    </div>

    <div class="centeredTitle">
      <a href="/contact"><h1 id="readyToGetStartedLink">Ready to get started?</h1> </a>
    </div>

    <div class="businessCard">
      <div id="businessCardImg">
        <img src="img/my-photo.png">
      </div>
      <div id="businessCardInfo">
        <h1>Jarett Sisk</h1>
        <p>Founder of Nexus Designs</p>
        <p>1-816-269-4911</p>
        <p>Odessa, MO, 64076</p>
        <p>nexusdesigns.co@gmail.com</p>
      </div>
    </div>

    <div class="centeredTitle">
      <h1 style="color: #353535;">Follow us on social media</h1> 
    </div>

    <div class="socialLinks">
      <a href="https://www.facebook.com/NexusDesignsCo"><img src="img/fb-icon.png"></a>
      <a href="https://github.com/NexusDesignsCo"><img src="img/github-icon.png"></a>
      <a href="https://www.linkedin.com/in/nexusdesigns/"><img src="img/linkedin-icon.png"></a>
      <a href="https://www.youtube.com/channel/UCCbhsJw254lezSLrcWe-8Kg"><img src="img/youtube-icon.png"></a>
    </div>

    <div class="centeredTitle">
      <p style="color: #353535;">&copy; Nexus Designs 2019</p> 
    </div>

    

      
      <!-- main end -->

  </div>

  <script src="/js/main.js"></script>
  
  
</body>
</html>