<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nexus Designs</title>
  <link rel="icon" href="img/nexus-designs-favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/loader.css">
</head>
<body>

    <img src="img/nexus-designs-logo-main.png" style="display:none;">

  <div class="loaderDiv">
    <img src="img/loading-image.png" class="loader">
  </div>
  
  <div class="grid">
  <header>
    {{>nav}}
  </header>

  <!-- main start -->
  
    <div class="centeredTitle">
      <h1>This page is coming soon!</h1> 
    </div>


      
      <!-- main end -->
  </div>


{{!-- link to JS --}}
<script src="/js/main.js"></script>
  
</body>
</html>