<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:image" content="img/nexus-designs-logo-main.png">
  <meta property="og:site_name" content="Nexus Designs"/>
  <title>Nexus Designs</title>
  <link rel="icon" href="img/nexus-designs-favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/loader.css">
</head>
<body>

  <div class="loaderDiv">
    <img src="img/loading-image.png" class="loader">
  </div>
  
  <div class="grid">
  <header>
    {{>nav}}
  </header>

  <!-- main start -->
  
    <div class="centeredTitle">
      <h1>This page is coming soon!</h1> 
    </div>

    <div id="spaceDiv" style="height:450px; width:100%;">

    </div>

    <div class="centeredTitle">
      <h1 style="color: #353535;">Follow us on social media</h1> 
    </div>

    <div class="socialLinks">
      <a href="https://www.facebook.com/NexusDesignsCo"><img src="img/fb-icon.png"></a>
      <a href="https://github.com/NexusDesignsCo"><img src="img/github-icon.png"></a>
      <a href="https://www.linkedin.com/in/nexusdesigns/"><img src="img/linkedin-icon.png"></a>
      <a href="https://www.youtube.com/channel/UCCbhsJw254lezSLrcWe-8Kg"><img src="img/youtube-icon.png"></a>
    </div>

    <div class="centeredTitle">
      <p style="color: #353535;">&copy; Nexus Designs 2019</p> 
    </div>


      
      <!-- main end -->
  </div>


{{!-- link to JS --}}
<script src="/js/main.js"></script>
  
</body>
</html>