<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/loader.css">
  <title>Nexus Designs</title>
</head>
<body>
  <div class="loaderDiv">
    <img src="img/loading-image.png" class="loader">
  </div>
  
  <div class="grid">
  <header>
    {{>nav}}
  </header>

  <!-- main start -->
  
    <div class="centeredTitle">
      <h1>Services we offer</h1> 
    </div>

    <div class="serviceDiv">
      <img src="img/web-dev.png">
      <div class="serviceInnerDiv">
        <h1>Web Design and Development</h1>
        <p>
          Need a modern website? or perhaps a face-lift for your current site?

          The web has truly become the Go-To place for customers looking for a great deal on products or services.

          By ensuring your website stays up to date and fully functional on today's devices, you will Not only increase revenue for your Business but also give each customer a satisfactory and professional user experience.
        </p>
      </div>
    </div>
    <div class="serviceDiv">
      <img src="img/pc-repair.png">
      <div class="serviceInnerDiv">
        <h1>PC Repair / Maintenance</h1>
        <p>
          If you are in need of computer repair, you have come to the right place!
          We offer a range of services and will be glad to assist your technological needs.
          These services include:
          • Diagnosis
          • Basic Maintenance
          • Hardware Replacement
          • Hardware / Software Upgrades
          • OS Installation
          • Data Backup
          • Dust Removal
          • In-home Service <br>
          (We currently work with Windows Operating Systems only)
        </p>
      </div>
    </div>
    <div class="serviceDiv">
      <img src="img/pc-upgrades.png">
      <div class="serviceInnerDiv">
        <h1>Custom PC Solutions</h1>
        <p>
          Want to build a blazing fast gaming rig to run those high frame rates on ultra?
          Or perhaps you simply need an upgrade for the office?
          Contact us today and we will be glad to assist and educate you on building your very own custom PC.
        </p>
      </div>
    </div>

    <div class="centeredTitle">
      <a href="/contact"><h1 id="readyToGetStartedLink">Ready to get started?</h1> </a>
    </div>

    <div class="centeredTitle">
      <h1 style="color: #353535;">Follow us on social media</h1> 
    </div>

    <div class="socialLinks">
      <a href="https://www.facebook.com/NexusDesignsCo"><img src="img/fb-icon.png"></a>
      <a href="https://github.com/NexusDesignsCo"><img src="img/github-icon.png"></a>
      <a href="https://www.linkedin.com/in/nexusdesigns/"><img src="img/linkedin-icon.png"></a>
      <a href="https://www.youtube.com/channel/UCCbhsJw254lezSLrcWe-8Kg"><img src="img/youtube-icon.png"></a>
    </div>

    <div class="centeredTitle">
      <p style="color: #353535;">&copy; Nexus Designs 2019</p> 
    </div>


      
      <!-- main end -->
  </div>


{{!-- link to JS --}}
<script src="/js/main.js"></script>
  
</body>
</html>