<a href="/" style="width: 100%; display: grid; grid-auto-flow: column; align-items: center;
  justify-items: center;"><img src="/img/nexus-designs-logo2.png" id="logo" ></a>
<img src="img/mobile-menu-icon.png" onclick="hide()" class="dropbtn">
<div class="navLinks">
  <a href="/">About</a>
  <a href="/services">Services</a>
  <a href="/Our Work">Our Work</a>
  <a href="/contact">Contact</a>
</div>