
header {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
}


#logo {
  width: 90%;
  max-width: 340px;
  min-width: 200px;
  height: auto;
  padding: 10px;
}

#logoContainer {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.navLinks {
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.navLinks a {
  font-size: 120%;
  line-height:200%;
  text-decoration: none;
  white-space: nowrap;
  color: #353535;
  padding: 20px 35px; 
}

.navLinks a:hover {
  transition:  0.6s ease;
  background-color: #00AABF; 
}

.dropbtn {
 width:45px;
  display: none;
  cursor: pointer;
  padding:10px 0;
 
}

@media only screen and (max-width: 800px) {
  header {
    grid-auto-flow: row;

  }
  .navLinks {
    width: 100%;
  }
  .navLinks a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #353535;
    padding: 10px 0;

  }
  .navLinks :nth-child(1) {
    border-top: 1px solid #353535;

  }
 

  .navLinks {
    display: none;
    
  }

  .dropbtn {
    color: white;
    display: inline-block;
  }

  .show {
    display: grid;
    grid-auto-flow: row;
  }
  
}











